.main-section {
  background-color: #fcfaf6be;
}
.main-section-banner {
  background-image: url("./assets/images/box.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-color: white;
  background-size: 28%;
}
.giftimage {
  width: 18%;
  overflow: hidden;
  transform: rotate(-30deg);
}
.giftimage img {
  overflow: hidden;
}

.shadowb {
  -moz-box-shadow: 2px 2px 2px rgba(68, 68, 68, 0.6);
  -webkit-box-shadow: 2px 2px 2px rgba(68, 68, 68, 0.6);
  box-shadow: 2px 2px 2px rgba(68, 68, 68, 0.6);
}
.hovergrow:hover {
  transform: scale(1.04);
  z-index: 10;
}
@media screen and (max-width: 500px) {
  .main-section-banner {
    background-position: right 110px;
    background-repeat: no-repeat;
    background-size: 38%;
  }
}
